@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", "Alata", sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url(./assets/image-hero-mobile.jpg);
  width: 37.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  padding-bottom: 21rem;
}

.burger-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  padding-top: 4rem;
}

label.logo {
  width: 14.4rem;
  height: 2.4rem;
}

header ul {
  float: right;
  display: block;
  margin-right: 2rem;
}

header ul li {
  display: inline-block;
  line-height: 8rem;
  margin: 0 0.5rem;
}

header ul li a {
  font-family: Josefin Sans;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0;
  border-radius: 0.3rem;
}

a.active,
a:hover {
  background: #000;
  transition: 0.5s;
}

#check {
  display: none;
}

.check-button {
  display: block;
}

ul {
  position: fixed;
  width: 100%;
  background: #000000;
  top: 8rem;
  left: -100%;
  text-align: start;
  padding-left: 2.4rem;
  transition: all 0.5s;
}

header ul li {
  display: block;
}
#check:checked ~ ul {
  left: 0;
}

.main-text {
  width: 32.7rem;
  height: 19.6rem;
  border: 0.2rem solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.4rem;
  margin-top: 14rem;
}

.main-text h1 {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 4rem;
  font-weight: 300;
  line-height: 3.8rem;
  text-transform: uppercase;
  padding: 2.4rem;
}

.all-interactive {
  display: flex;
  flex-direction: column;
  margin-top: 9.6rem;
  align-items: center;
}

.interactive-image {
  background-image: url(./assets/image-interactive-mobile.jpg);
  background-repeat: no-repeat;
  width: 90%;
  height: 22.4rem;
  background-size: cover;
}

.heading {
  margin-top: 4.8rem;
  color: #000;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.text {
  color: #000;
  text-align: center;
  font-family: "Alata";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  opacity: 0.4994;
  margin-top: 1.6rem;
  padding: 1rem;
  width: 31ch;
}

.creations-pictures h2 {
  color: #000;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin-top: 9.6rem;
}

.deep-earth {
  background-image: url(./assets/image-deep-earth-mobile.jpg);
}

.night-arcade {
  background-image: url(./assets/image-night-arcade-mobile.jpg);
}

.soccer-team {
  background-image: url(./assets/image-soccer-team-mobile.jpg);
}

.the-grid {
  background-image: url(./assets/image-grid-mobile.jpg);
}

.from-up {
  background-image: url(./assets/image-from-above-mobile.jpg);
}

.pocket-borealis {
  background-image: url(./assets/image-pocket-borealis-mobile.jpg);
}

.the-curiosity {
  background-image: url(./assets/image-curiosity-mobile.jpg);
}

.make-fisheye {
  background-image: url(./assets/image-fisheye-mobile.jpg);
}

.gem {
  background-repeat: no-repeat;
  height: 12rem;
  background-size: contain;
}

.creations-pictures {
  padding: 2.4rem;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  grid-auto-rows: auto;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  align-self: center;
}

.description {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.4rem;
  text-transform: uppercase;
  width: 9ch;
  padding: 5.2rem 2rem 2rem;
}

.one {
  width: 10ch;
}
.two {
  width: 7ch;
}

.three {
  width: 11ch;
}
.four {
  width: 10ch;
}

button {
  text-align: center;
  width: 15.7rem;
  height: 4rem;
  color: #000;
  font-family: "Alata";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.5rem;
  border: 1px solid #000;
  background-color: #fff;
  margin: auto;
  margin-top: 1rem;
}

footer {
  background-color: #000;
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main {
  display: flex;
  flex-direction: column;
  margin-top: 5.6rem;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.information {
  text-align: center;
  color: #fff;
}

.footer-logo {
  width: 14.4rem;
  height: 2.4rem;
}

footer li a {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Alata";
  font-weight: 400;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  text-decoration: none;
}

.social-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.social-footer p {
  color: #fff;
  font-family: "Alata";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  opacity: 0.5;
  padding-bottom: 5.6rem;
}

.social-img {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media only screen and(min-width:90rem) {
  header {
    background-image: url(./assets/image-hero-desktop.jpg);
    width: 37.5rem;
    height: 65rem;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    width: 100%;
  }
}
