@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", "Alata", sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url(./assets/image-hero-mobile.jpg);
  width: 37.5rem;
  height: 65rem;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
}

.burger-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  padding-top: 4rem;
  gap: 15.9rem;
}
